<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">

    <test name="Register Form">
        <classes>
            <class name="webTestScripts.t_Register">
                <methods>
                    <include name="registerUser"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Login Form">
        <classes>
            <class name="webTestScripts.t_Login">
                <methods>
                    <include name="Login"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
